.footer {
  background-color: $dark_blue;
  color: rgb(65, 61, 61);
}

.footer__block:last-child {
  margin-top: 45px;
  border-top: #979797 solid 1px;
}

.footer__block {
  display: flex;
  justify-content: space-between;
}

.footer__block-item {
  margin-right: 12px;
}


.footer__block-title {
  font-family: $ibm_font;
  color:$gray_font;
  margin-top:40px;
  margin-bottom:25px;
  font-size: 18px;
}

.footer__block-icons {
  display: flex;
}

.icons__content img {
  margin-right:8px;
}

.icons__content p {
  font-family: $ibm_font;
  font-size: 9px;
  text-transform: uppercase;
  font-weight: 600;
}

.footer__block-text {
  color:$gray_font;
  font-size: 13px;
}

.footer__block-list {
  display: flex;
}

.list__items {
  margin-right:30px;
  line-height: 1.8;
}

.list__items a {
  white-space: nowrap;
  position: relative;
  color:#fff;
  transition: color linear .3s;
}

.list__items a:hover {
  color:$blue;
}

.list__items a::after {
  position: absolute;
  content:' ';
  background-color:rgba(254, 254, 254, 0.24);
  width:100%;
  bottom:0;
  left: 0;
  height: 1px;
}

.list__item {
  width:66%;
}

.footer__block-content a {
  color:#fff;
  transition: color linear .3s;
}

.footer__block-content a:hover {
  color:$blue;
}

.blue__number {
  color:#008EFF;
}


.footer__block-social-icons {
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
}

.footer__block-title--agreement {
  flex:3;
  display: flex;
}

.footer__block-title--agreement a {
  font-size: 13px;
  margin-right: 10px;
  position: relative;
  color:#979797;
  transition: color linear .3s;
}

.footer__block-title--agreement a:hover {
  color:#fff;
}

.footer__block-title--agreement a::after {
  position: absolute;
  content: " ";
  bottom:9px;
  left:0;
  background-color: rgba(254, 254, 254, 0.24);
  width: 100%;
  height: 1px;
} 

.footer__block-title--trademark {
  flex:1;
  text-align: right;
}

.footer__block-title--trademark p {
  font-size: 13px;
}