.section {
  flex: 3;
  padding-right: 50px;
}

.aside {
  flex: 1;
}

.goods__info__breadcrumbs {
  margin-top:30px;
}

.goods__info__breadcrumbs p {
  font-size: 15px;
  font-weight: 300;
}

.goods__info__title {
  margin:15px 0;
}

.goods__info__title h2{
  font-weight: 500;
  font-size: 32px;
  color: $dark_blue;
}

.goods__info__title p{
  font-size: 19px;
  line-height: 48px;
}

.goods__info__map {
  @include padding-margin-title;
  border-top: 2px #DFE2E5 solid;
  padding-top: 20px;
  margin-top: 40px;
  &.border_none {
    border-top: none;
    margin-top: 0;
    padding-bottom: 20px;
  }
}

.goods__info__gray {
  color: $gray_font;
  font-size: 19px;
  font-weight: 300
}

.goods__info__add {
  @include padding-margin-title;
  border-top: 2px #DFE2E5 solid;
  padding-top: 20px;
  margin-top: 40px;
  &.block_paddings {
    padding-top: 30px;
    padding-bottom: 40px;
  }
}

.goods__info__add-text {
  font-weight: 300;
  font-size: 17px;
  color: $dark_blue;
  line-height: 2em;
}

.info__map__img {
  width: 100%;
}

.info__map__content {
  display: flex;
  flex-direction: column;
}

.info__map__row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
} 

.map__row__item {
      display: flex;
      justify-content: flex-start;
      width: 390px;
      margin-left: 30px;
      align-items: flex-start;
}

.map__row__item2, .map__row__item3 {
    p {
      font-size: 17px;
      color: #3E455B;
      font-weight: 300;
    }
      display: flex;
      flex:1;
      justify-content: flex-end;
}

.item__text__paragraph {
      line-height: 1.2em;
      font-size: 17px;
      font-weight: 400;
}

.row__item__text {
  margin-left:15px;
  p {
    color: #3E455B;
    font-weight: 300;
    font-size: 17px;
    &.descr__gray {
      color: $gray_font;
      font-size: 14px;
      font-weight: 300;
    }
  }
}

.info__map__path {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  @include padding-margin-title;
}

.goods__city {
  display: flex;
  position: relative;
  padding-left: 27px;
}

.goods__city-nur {
  padding-top:20px
}

.goods__info__rectangle {
  position: absolute;
  left: 0px;
  top: -7px;
}



.signs__item2 {
  margin: 15px 0;
}

.info__map__curs {
  margin: 15px 0;
}

.info__map__city {
  font-weight: 600;
  margin-left: 10px;
  font-size: 17px;
}





.table__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.table__column__1 {
  flex:3;
  display: flex;
  align-items: flex-end;
  white-space: nowrap;
}

.table__column__2 {
  flex:1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding-left: 10px;
  white-space: nowrap;
  p {
    font-size: 17px;
    font-weight: 300;
    color: $dark_blue;
  }
}

.table__dash__bord {
  width: 100%;
  height: 17px;
  border-bottom:dashed 1px $gray_font;
}


// goods__nav__item3.html
.goods__info__auction {
  @include padding-margin-title;
}

.auction__table__row {
  display: flex;
  flex-direction: column;
}

.auction__table__item {
  display: flex;
  justify-content: space-between;
.info__map__km p {
  margin: 15px 0;
  text-align: right;
}
}
.info__map__time p {
  margin: 15px 0;
  text-align: right;
}

.aside__contactCard {
  margin-top: 30px;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba($color: #000000, $alpha: .2);

  p {
    font-weight: 300;
    color: $gray_font;
    font-size: 15px;
  }
  .btn {
    display: block;
    text-align: center;
  }
}


.contactCard__content {
  display: flex;
  align-items: center;
  margin-top: 15px;
  border-bottom: 2px solid #DFE2E6;
  padding-bottom: 10px;
}

.contactCard__title {
  margin-left: 10px;
  h3 {
    font-size: 17px;
    font-weight: 500;
    color: $blue;
    margin-bottom: 5px;
  }
}

.contactCard__auction__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 2px solid #DFE2E6;
}
.contactCard__auction__info {
  display: flex;
  align-items: center;
  h3 {
    font-size: 17px;
    font-weight: 500;
    color: $dark_blue;
  }
  img {
    margin-right: 10px;
  }
  i {
    color: $blue;
    font-size: 20px;
    margin-right: 10px;
  }
}

.contactCard__num {
  display: flex;
  margin: 15px 0;
.hidden_num {
  display: none;
}
  p {
    color: $dark_blue;
    font-size: 24px;
    font-weight: 500;
  }

  button {
    background-color: transparent;
    border: none;
    transition: .2s;
    color: $blue;
    cursor: pointer;
    margin-left: 10px;
    border-bottom: 2px solid rgba($color:$blue, $alpha: .2);
    font-size: 15px;
    outline: none;
    &:hover {
      border-color: $blue;
    }
  }
}
.aside__functions {
  margin: 20px 0;
  a {
    border: 1px solid $blue;  
    border-radius: 50%;
    transition: .2s;
    &:hover {
      box-shadow: 0px 0px 5px 0px rgba($color: #000000, $alpha: .3);
    }
  }
  .izbrannoe {
    border-radius: 30px;
    padding: 7px 10px;
    color: $blue;
    font-weight: 500;
    font-size: 15px;
    i {
      margin-right: 5px;
    }
  }
  .download {
    padding: 7px 10px;
  }
  .print {
    padding: 7px 9px;
  }
  .someShit {
    padding: 7px 8px;
  }
}
.aside__functions__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.aside__changed_date {
  p{
    color: $gray_font;
    font-size: 13px;
    font-weight: 300;
  }
}
