.section {
  flex:3;
}

.aside {
  flex:1;
}

.goods__info__breadcrumbs {
  margin-top:20px;
}

.goods__info__breadcrumbs p {
  font-size: 15px;
  font-weight: 400;
}

.goods__info__title {
  margin:15px 0;
}

.goods__info__title h2{
  font-weight: 500;
  font-size: 32;
}

.goods__info__title p{
  font-size: 19px;
  line-height: 48px;
}

.goods__info__map {
  @include padding-margin-title;
}

.goods__info__gray{
  color: $gray_font;
}

.goods__info__add {
  @include padding-margin-title;
}

.goods__info__add-text {
  width: 400px;
}

.info__map__img {
  width: 100%;
}


.info__map__path {
  display: flex;
  flex-direction: column;
  @include padding-margin-title;
}


.goods__city {
  display: flex;
  position: relative;
  padding-left: 27px;
}

.goods__info__rectangle {
  position: absolute;
  left: 0px;
  top: 0;
}

.info__map__content {
  display: flex;
  justify-content: space-between;
  margin:30px 0;
}

.info__map__text {
  display: flex;
  justify-content: flex-start;
  flex:2;
}


.info__map__signs {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 20px;
  justify-content: space-between;
}

.info__map__descr {
  display: flex;
  flex-direction: column;
}

.descr__gray {
  color: $gray_font;
  font-size: 14px;
}

.descr__item p{
  font-size: 17px;
}

.info__map__city {
  font-weight: 700;
  margin-left: 10px;
  font-size: 17px;
}

.info__map__km {
  flex:1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.info__map__km p{
  font-size: 17px;
}

.info__map__time {
  flex:1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.info__map__time p{
  font-size: 17px;
}


.table__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.table__column__1 {
  flex:3;
  display: flex;
  align-items: flex-end;
  white-space: nowrap;
}

.table__column__2 {
  flex:1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding-left: 10px;
  white-space: nowrap;
}

.table__dash__bord {
  width: 100%;
  height: 17px;
  border-bottom:dashed 1px $gray_font;
}


// goods__nav__item3.html
.goods__info__auction {
  @include padding-margin-title;
}

.auction__table__row {
  display: flex;
  flex-direction: column;
}

.auction__table__item {
  display: flex;
  justify-content: space-between;
}