.products__container {
    padding: 30px 0;
    display: flex;
}

.products__content {
    flex: 3;
}

.products__aside {
    flex: 1;
    padding: 30px 0;    
    padding-left: 20px;
}

.products__title {
    h4 {
        color: #A2A9B2;
        font-size: 15px;
        font-weight: 300;
    }
    h1 {
        color: $dark_blue;
        font-size: 36px;
        font-weight: 500;
        margin: 10px 0;
    }
    h3 {
        color: #A2A9B2;
        font-size: 16px;
        font-weight: 300;
    }
}

.products__items__wrapper {
    margin-top: 40px;
}

.top_offers {
    border: 2px solid $blue;
    border-radius: 15px;
    position: relative;
}

.top_offers__img {
    position: absolute;
    top: -12px;
    right: 20px;
}

.product__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #DFE2E6;
    padding: 25px 0;
    margin: 0 20px;

    &.border_none {
        border: none;
    }
}

.product__item__ad {
    margin: 0 20px;

    img {
        width: 100%;
    }
}

.product__item__date {
    h4 {
        color: #3E455B;
        font-size: 17px;
        font-weight: 300;
    }

    p {
        color: #A2A9B2;
        font-weight: 300;
        font-size: 13px;
        margin-top: 5px;
    }
}

.product__item__title {
    a {
        color: $blue;
        font-size: 17px;
        font-weight: 500;
        transition: .2s;

        &:hover {
            color: #005eac;
            ;
        }
    }

    p {
        font-size: 15px;
        color: #3E455B;
        font-weight: 300;
        margin-top: 10px;
    }

    h2 {
        font-size: 17px;
        font-weight: 500;
        color: $dark_blue;
    }
}
.auction__product__container {
    border-left: 3px solid $blue;
    border-top: 2px solid #dfe2e6;
    border-right: 2px solid #dfe2e6;
    border-bottom: 2px solid #dfe2e6;
    border-radius: 5px; 
    margin-bottom: 20px;
    .product__item {
        margin: 0;
        padding: 25px 20px;
    }
}
.auction__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #F7FAFC;
    p {
        color: #A2A9B2;
        font-weight: 300;
        font-size: 13px;
        margin-bottom: 3px;
    }
    h2 {
        font-size: 17px;
        font-weight: 500;
        color: $dark_blue;
        &.gray_font {
            color: $gray_font;
        }
    }
    h3 {
        color: #00B261;
        font-weight: 500;
        font-size: 19px;
        &.gray_font {
            color: $gray_font;
        }
    }
    i {
        margin-top: 5px;
        margin-right: 7px;
        font-size: 20px;
        color: $blue;
    }
    img {
        margin-top: 5px;
        margin-right: 7px;
    }
    .btn {
        padding: 12px 40px;
    }
}
.auction__item__date {
    display: flex;
    align-items: center;
}
.auction__item__users {
    display: flex;
    align-items: center;
}
.auction__item__price {
    display: flex;
    align-items: center;
}


.product__items__list {
    margin: 0 20px;
    padding: 25px 0;
    border-bottom: 2px solid #DFE2E6;
    & a {
        padding: 5px 12px;
        // background-color: rgba($color: $blue, $alpha: .1);
        // color: #20618C;
        color: $blue;
        font-size: 17px;
        font-weight: 300;
        border: 1px solid #C4DDED;
        transition: .2s;
        &.active {
            background-color: rgba($color: $blue, $alpha: .1);
            color: #20618C;
            font-weight: 600;
        }
        &:hover {
            background-color: rgba($color: $blue, $alpha: .1);
            color: #20618C;
        }
    }
    &.normal_margin {
        margin: 0;
    }
    & i {
        color: #20618C;
        font-size: 12px;    
    }
}
.products__text {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    &.normal_margin {
        margin: 0;
        margin-top: 40px;
    }
}
.products__text__item {
    margin-bottom: 40px;
    h3 {
        color: $dark_blue;
        font-size: 19px;
        font-weight: 500;
        margin-bottom: 20px
    }
    p {
        @include gray_par;
        color: #A2A9B2;
        font-size: 15px;
    }
}



.aside__add__ad {
    text-align: center;
    border-bottom: 2px solid #DFE2E6;
    margin: 0 20px;
    padding-bottom: 15px;
    .btn {
        padding: 12px 30px
    }

    & p {
        @include gray_par;
        color: #A2A9B2;
        font-size: 15px;
        margin-top: 20px;
    }
}
.exchange_rate {
    margin: 20px 20px;
    border-bottom: 2px solid #DFE2E6;
    padding-bottom: 20px;
    h4 {
        color: $dark_blue;
        font-size: 19px;
        font-weight: 500;
        margin-bottom: 15px;
    }
}
.exchange__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #DFE2E6;
    margin: 0 20px;
    &:nth-child(5) {
        border: none;
    }
    p {
        color: #3E455B;
        font-size: 17px;
        font-weight: 300;
    }
    span {
        color: $blue;
        font-weight: 500;
        font-size: 17px;
    }
}
.aside__ad {
    margin: 0 40px;
    img {
        width: 100%;
    }
}
.aside__call {
    margin: 30px 40px;
    padding-bottom: 30px;
    border-bottom: 2px solid #DFE2E6;
    .btn {
        text-align: center;
        display: block;
    }
}
.aside__call__content {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.aside__call__text {
    h4 {
        font-size: 19px;
        color: $dark_blue;
        font-weight: 500;
        margin-bottom: 10px;
    }
    p {
        @include gray_par;
        font-size: 15px;
        color: $gray_font;
    }
}



.dis_calc {
    margin-top: 25px;
    margin-bottom: 50px;
    &.border_bot {
        border-bottom: 2px solid #DFE2E6;
        margin-bottom: 30px;
    }
}
.disc_calc__form {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    & .btn {
        padding: 12px 50px;
    }
}
.dis_calc__top {
    margin-bottom: 30px;
}
.check_company_select {
    width: 100%;
}
.dis_calc__item {
    h3 {
        color: #3E455B;
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 10px;
    }
    select {
        padding: 7px 10px;
        padding-right: 30%;
        color: $dark_blue;
        font-weight: 300;
        font-size: 17px;
        outline: none;
        border: 2px solid #DFE2E6;
        border-radius: 5px;
    }
    &.check_company__item {
        width: 50%;
    }
}

.dis__lenght {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 25px 0;
    border-top: 2px solid #DFE2E6;
    border-bottom: 2px solid #DFE2E6;
}
.dis__lenght__item {
    p{
        color: $gray_font;
        font-size: 15px;
        font-weight: 300;
        margin-bottom: 7px;
    }
    h3 {
        color: $dark_blue;
        font-size: 19px;
        font-weight: 500;
    }
    h2 {
        color: $dark_blue;
        font-size: 21px;
        font-weight: 500;
    }
}


.check_company__services {
    h2 {
        color: $dark_blue;
        font-size: 19px;
        font-weight: 500;
        margin-bottom: 20px;
    }
}
.check_company__service__item {
    display: flex;
    padding: 15px 0;
    border-bottom: 2px solid #DFE2E6;
    &:nth-child(8) {
        border-bottom: none;
    }
    i {
        color: $blue;
        font-size: 15px;
        margin-right: 15px;
        margin-top: 3px;
    }
}
.check_company__service__item__text {
    a {
        color: $blue;
        font-weight: 500;
        font-size: 17px;
    }
    p {
        font-size: 14px;
        font-weight: 300;
        color: $gray_font;
        margin-top: 5px;
    }
}