<div class="header__top">
    <div class="header__top__wrapper container">
        <div class="header__top__items">
            <div class="header__top__item">
                <img src="assets/img/widgets/KZ.svg" alt="">
                <p>Казахстан, Алматы</p>
                <i class="fas fa-angle-down"></i>
                <div class="dropdown__items">
                    <div class="header__top__item">
                      <img src="assets/img/widgets/KZ.svg" alt="">
                      <p>Казахстан, Астана</p>
                    </div> 
                    <div class="header__top__item">
                      <img src="assets/img/widgets/KZ.svg" alt="">
                      <p>Казахстан, Актау</p>
                    </div>       
                </div>
            </div>
            <div class="header__top__item">
                <img src="assets/img/widgets/language_logo.png" alt="">
                <p>На русском</p>
                <i class="fas fa-angle-down"></i>
                <div class="dropdown__items">
                  <div class="header__top__item">
                    <p>На казахском</p>
                  </div> 
                  <div class="header__top__item">
                    <p>На английском</p>
                  </div>       
              </div>
            </div>
        </div>
        <div class="header__top__items">
            <div class="header__top__item">
                <div class="header__item__notification">2</div>
                <i class="far fa-clipboard"></i>
                <a href="#">Заявки</a>
            </div>
            <div class="header__top__item">
                <i class="far fa-star"></i>
                <a href="#">Избранное</a>
            </div>
            <div class="header__top__item margin_right">
                <div class="header__item__notification">2</div>
                <i class="far fa-bell"></i>
                <a href="#">Уведомления</a>
                <i class="fas fa-angle-down"></i>
            </div>
            <div class="header__top__item">
                <i class="far fa-envelope"></i>
                <a href="#">Сообщения</a>
            </div>
            <div class="header__top__item">
                <img src="assets/img/widgets/personal_cabinet_logo.png" alt="">
                <a href="cabinet-conf-nav1.html">Баталгазиев Р.В.</a>
                <i class="fas fa-angle-down"></i>
            </div>
        </div>      
    </div>
  </div>