<footer>
  <div class="footer">
    <div class="container">
      <div class="footer__item">
        <div class="item">
          <p class="item__title">Мобильные приложения</p>
          <div class="item__icons">
            <div class="item__ico"> 
              <img class="" src="assets/img/footer/icon-google.png" alt="google-icon">
              <p>Доступно в</p>
              <img src="assets/img/footer/google-play.png" alt="google-play">
            </div>
            <div class="item__ico">
              <img src="assets/img/footer/apple-icon.png" alt="apple-icon">
              <p>Доступно в</p>
              <img src="assets/img/footer/app-store.png" alt="app-store">
            </div>
          </div>
          <div class="item__text">
            <p>Загрузите приложения Bliz.kz на свой смартфон IOS и Android</p>
          </div>
        </div>
        <div class="item">
         <p class="item__title">Объявление</p>
          <div class="item__list">
            <div>
              <p>Грузоперевозки</p>
              <p>Транспорт</p>
              <p>Аукцион</p>
            </div>
            <div>
              <p>Склады</p>
              <p>Спецтехника</p>
            </div>
            <div>
             <p>Расчет расстояний</p>
              <p>Проверка компаний</p>
           </div>
          </div>
        </div>
        <div class="item">
          <p class="item__title">Контакты</p>
            <div class="item__elem">
              <p>О сервисе</p>
              <p>Связаться с нами</p>
              <p>Реклама на сайте</p>
            </div>
            <div class="item__elem">
              <p>+7 (707) 373 41 24</p>
              <p>+7 (727) 395 69 83</p>
              <img src="assets/img/footer/Instagram.png" alt="instagram">
              <img src="assets/img/footer/Telegram.png" alt="telegram">
              <img src="assets/img/footer/VK.png" alt="vk">
            </div>
        </div>
      </div>
      <div class="footer__item">
        <div>
          <p>Пользовательское соглашение</p>
          <p>Политика конфиденциальности</p>
        </div>
        <div>
          <p>2020 © «Bliz.kz» является юридически зарегистрированной торговой маркой</p>
        </div>
      </div>
    </div>
  </div>
</footer>